.listagem{
    max-width: 200px;
}

.listagem .pokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddfdf;
    color: #000;
    margin-bottom: 10px;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 40px 0px 0px 40px;
    transition: 0.15 ease-in-out;
    justify-content: space-between;
}
.listagem .pokemon img{
    width: 30%;
    border-radius: 50%;
}
.listagem .pokemon:hover{
    transform: scale(1.1);
}

.listagem .pokemon.ativo{
    background-color: #e58087;
}